@use "../../assets/scss/abstracts/variables";

.media-container {
  display: flex;
  gap: 20px;
  align-items: stretch;
  flex-wrap: wrap;
  padding-bottom: 24px;

  .media-trailer {
    display: flex;
    flex: 1;
    position: relative;
    cursor: pointer;

    .media-trailer-cover {
      width: 100%;
      aspect-ratio: 16 / 9;
      border-radius: 16px 0 0 16px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      .media-image-loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 1;
      }

      .media-trailer-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      .play-button {
        position: absolute;
        width: 48px;
        height: 48px;
        background-color: variables.$red-dark;
        border-radius: 8px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        .play-icon {
          padding: 0;
          width: 12px;
          height: 16px;
        }
      }
    }

    .media-trailer-wrapper {
      width: 100%;
      aspect-ratio: 16 / 9;
      position: relative;
      border-radius: 16px 0 0 16px;
      overflow: hidden;

      .media-trailer-loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 1;
      }

      .media-trailer-iframe {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 16px 0 0 16px;
      }
    }
  }

  .media-photos {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-content: stretch;

    .media-photo-wrapper {
      position: relative;
      width: 100%;
      aspect-ratio: 16 / 9;
      overflow: hidden;

      &:nth-child(2) {
        border-radius: 0 16px 0 0;
      }

      &:nth-child(4) {
        border-radius: 0 0 16px 0;
      }

      .media-image-loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 1;
      }

      .media-photo {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
      }
    }
  }

  .visible {
    display: block;
  }

  .hidden {
    display: none;
  }
}
