@use "../../assets/scss/abstracts/variables";
@use "../../assets/scss/abstracts/font-weights";

.movies-list-container {
  width: 100%;
  height: 100%;
  padding: 0;

  &.upcoming {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));
    gap: 16px;

    .movie-ribbon-badge {
      display: flex;
      align-items: center;
      height: 32px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      margin-top: 24px;
      margin-right: 16px;
      font-weight: font-weights.$semibold;
    }

    .card-duration-genre {
      display: flex;
      justify-content: start;
      gap: 14px;
      margin: 0;
    }

    .card-duration {
      margin-top: 4px;
      margin-bottom: 0;
    }

    .card-genre {
      color: variables.$neutral-500;
      margin-top: 4px;
      margin-bottom: 0;
    }

    .separator {
      color: variables.$neutral-400;
      margin-top: 3.5px;
      margin-bottom: 0;
      font-size: 20px;
    }
  }

  &.currentlyShowing {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .card-photo-description {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .card-horizontal-wrapper {
      display: flex;
      gap: 192px;
    }

    .card-horizontal-description {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 14px;
    }

    .card-title {
      max-width: 300px;
      white-space: normal;
    }

    .card-rating-language-duration {
      display: flex;
      align-items: center;
      font-size: 16px;

      .separator {
        margin: 0 12px;
        font-size: 26px;
        margin-bottom: 4px;
        color: variables.$red-dark;
      }
    }

    .card-genres {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      align-items: center;

      .card-genre {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: variables.$neutral-200;
        padding: 6px 8px;
      }
    }

    .card-showtimes {
      white-space: normal;
      min-width: 100px;
      display: flex;
      flex-direction: column;
    }
  }
}
