@use "../../assets/scss/abstracts/variables";
@use "../../assets/scss/abstracts/font-weights";

.datebox-container {
  width: 110px;
  height: 84px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px -2px variables.$shadow,
    0px 1px 3px -1px variables.$shadow;
  background-color: white;

  .date-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s, border-radius 0.2s;
    gap: 8px;

    &.selected {
      background-color: variables.$red-dark;
      border-radius: 8px;

      .date {
        color: variables.$neutral-white;
      }

      .day {
        color: variables.$neutral-white;
      }
    }

    .date {
      font-weight: font-weights.$semibold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.08px;
      color: variables.$neutral-800;
      transition: color 0.2s;
      margin: 0;
    }

    .day {
      font-weight: font-weights.$regular;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.08px;
      color: variables.$neutral-500;
      margin: 0;
    }
  }

  &.small {
    width: 78px;
    height: 72px;
  }
}
