@use "../../assets/scss/abstracts/variables";
@use "../../assets/scss/abstracts/font-weights";

.card-container {
  position: relative;
  box-sizing: border-box;
  width: 302px;
  height: 395px;
  display: flex;
  flex-direction: column;
  border: 1px solid variables.$neutral-200;
  border-radius: 24px;
  box-shadow: 0px 2px 4px -2px variables.$shadow;
  padding: 16px;

  .card-img {
    width: 270px;
    height: 287px;
    border-radius: 16px;
    object-fit: cover;
  }

  .card-title {
    font-weight: font-weights.$bold;
    font-size: 20px;
    color: variables.$neutral-800;
    margin: 16px 0 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-description {
    font-weight: font-weights.$regular;
    font-size: 14px;
    line-height: 20px;
    color: variables.$neutral-500;
    letter-spacing: 0.175px;
  }

  &.horizontal {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 319px;

    .card-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;
      padding: 16px;
      max-width: 405px;
    }

    .card-title {
      margin: 0;
      font-size: 32px;
      font-weight: font-weights.$bold;
      margin-top: -16px;
      padding-bottom: 20px;
    }

    .card-description {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .card-extra {
      margin-top: -40px;
    }
  }

  &.small {
    width: 196px;
    height: 200px;
    border-radius: 16px;
    padding: 16px 12px;

    .card-img {
      width: 172px;
      height: 136px;
      border-radius: 8px;
      object-fit: cover;
      flex-shrink: 0;
    }

    .card-title {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.08px;
    }
  }
}
