@use "../../assets/scss/abstracts/variables";

.footer {
  display: flex;
  justify-content: center;
  height: 212px;
  width: 100%;
  background: linear-gradient(to left, variables.$red-dark, #1a1a1a);
  margin-top: auto;

  .footer-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fcfcfd;
      margin-bottom: 0;

      .footer-link {
        color: inherit;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1.5px;
        text-decoration: none;
      }

      .separator {
        padding-left: 16px;
        padding-right: 16px;
        font-size: 24px;
        margin-bottom: 5px;
      }
    }

    .copyright {
      color: #fef2f2;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0;
    }

    #logo {
      width: 120px;
    }
  }
}
