@use "../../assets/scss/abstracts/variables";
@use "../../assets/scss/base/typography";

.carousel-item {
  position: relative;

  .movie-image {
    width: 100%;
    max-height: 730px;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 60px;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0)
    );

    .genre {
      display: inline-block;
      background-color: variables.$neutral-200;
      border-radius: 4px;
      padding: 6px 12px;
      margin-bottom: 16px;
      border-radius: 8px;

      .genre-text {
        color: variables.$shadow;
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        font-family: typography.$font-urbanist;
      }
    }

    .title {
      margin: 0 0 16px 0;
      font-family: typography.$font-urbanist;
      color: variables.$neutral-white;
    }

    .synopsis {
      max-width: 60%;
      line-height: 1.6;
      font-family: typography.$font-urbanist;
      color: variables.$neutral-white;
      margin-top: 0;
      margin-bottom: 32px;
    }
  }
}
