.header {
  background-color: #1d2939;
  display: flex;
  height: 80px;
  width: 100%;
  border-bottom: 1px #667085 solid;

  .header-frame {
    display: flex;

    height: 48px;
    width: 1256px;
    margin-top: 16px;
    margin-left: 92px;
    gap: 317px;

    .header-list {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      column-gap: 24px;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
      text-decoration: none;
    }
  }
}
