@use "../../assets/scss/abstracts/font-weights";

.about-us-container {
  .about-us-content {
    padding-left: 96px;
    padding-right: 96px;
    display: flex;
    gap: 230px;
  }

  .about-us-left {
    margin-top: 165px;

    .about-us-left-text {
      text-align: left;
      white-space: nowrap;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .about-us-description {
    .intro-text {
      text-align: left;
      font-size: 16px;
      font-weight: font-weights.$regular;
      line-height: 24px;
      color: #1d2939;
      text-align: justify;
    }
  }

  .theater-image {
    margin-top: 48px;
    width: 100%;
    max-height: 500px;
    display: block;
  }
}
