@use "../../assets/scss/abstracts/variables";

.pricing-container {
  display: flex;
  flex-direction: column;

  .pricing-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pricing-header-text {
      text-align: center;
      width: 577px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 100px;
      margin-top: 0;
    }
  }

  .pricing-content {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px;
  }

  .love {
    border-color: #98a2b3;
    height: 750px;
    margin-top: -42px;
    margin-bottom: -40px;

    .price {
      color: variables.$red-dark;
    }
  }
}
