@use "../../assets/scss/abstracts/variables.scss";
@use "../../assets/scss/abstracts/font-weights";

.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin-top: 24px;

  .pagination-info {
    font-weight: font-weights.$regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: variables.$neutral-800;
    margin: 0;
  }

  .pagination-controls {
    display: flex;
    gap: 8px;
  }
}
