@use "../../assets/scss/abstracts/variables";

.ticket-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  max-width: 620px;
  box-sizing: border-box;
  height: 562px;
  border: 1px solid variables.$neutral-200;
  border-radius: 16px;
  background-color: variables.$neutral-white;
  box-shadow: 0px 25px 50px -16px variables.$light-shadow;
  padding: 24px;

  .ticket-section-content {
    .city-cinema-filters {
      display: flex;
      justify-content: space-between;
      gap: 16px;

      .filters-select-dropdown {
        width: 278px;
      }
    }

    .date-navigation {
      position: relative;

      .date-list-container {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        margin-right: -24px;
        padding-right: 24px;
        padding-bottom: 16px;
        padding-top: 24px;
        padding-left: 1px;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .date-arrows {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
      }
    }

    .upcoming-movie-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .upcoming-movie-title {
        color: variables.$shadow;
        font-size: 24px;
        text-align: center;
        margin: 0;
      }

      .upcoming-movie-bell {
        margin-top: 120px;
      }

      .ticket-actions {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }

  .ticket-actions {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 0 -24px;
    padding: 24px 24px 0;
    border-top: 1px solid variables.$neutral-200;

    .reserve-button {
      width: 100%;
    }

    .buy-button {
      width: 100%;
    }
  }
}
