// Primary
$red-dark: #b22222;

// Neutrals
$neutral-900: #101828;
$neutral-800: #1d2939;
$neutral-500: #667085;
$neutral-400: #98a2b3;
$neutral-300: #d0d5dd;
$neutral-200: #e4e7ec;
$neutral-white: #fcfcfd;
$shadow: #344054;
$light-shadow: #34405429;
